html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Alegreya Sans";
  margin: 0 auto;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  background: url("../img/main.png") no-repeat center;
  background-size: cover;
  align-items: center;
}

.header {
  padding-top: 24px;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
}
.menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.menu__link {
  text-decoration: none;
  font-weight: bold;
  color: #ffff;
}

.menu__list-item {
  margin-right: 15px;
}

.menu__list-item:last-child {
  margin-right: 0;
}

.menu__logo {
  margin-right: auto;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts__icon {
  width: 12.9px;
  height: 13.78px;
  margin-right: 5.53px;
}
.contacts__phone {
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding-bottom: 8%;
}

.header-content {
  display: flex;
  flex-direction: column;
}
.header-content__title {
  margin-top: 102px;
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.header-content__subtitle {
  font-size: 21px;
  color: #FFFFFF;
  margin-top: 17px;
  margin-bottom: 0px;
}

.dots {
  margin-right: 43px;
}

.dots__list-item {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
  list-style: none;
  margin-bottom: 13px;
}

.dots__list-item--active::before {
  border-radius: 50%;
  content: "";
  border: 1px solid white;
  width: 18px;
  height: 19px;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-order {
  background: #FEDB3F;
  width: 156px;
  height: 60px;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  border-radius: 100px;
  margin-top: 39px;
  border: none;
}

.advantages {
  display: flex;
  margin-top: 64px;
  color: white;
}
.advantages__item {
  color: white;
  display: flex;
  margin-right: 30px;
}
.advantages__icon {
  width: 41px;
  height: 41px;
  margin-right: 11px;
}
.advantages__desc {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.why {
  justify-content: center;
}

.why-name {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
}
.why-name__title {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}
.why-name__subtitle {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #666666;
}

.why-content {
  padding: 0 80px 0 82px;
  display: flex;
  justify-content: space-between;
}
.why-content__item {
  margin-top: 49px;
}
.why-content__icon {
  width: 128px;
  height: 128px;
  background: #F2F5F4;
  border-radius: 100px;
  padding: 30px;
  margin: 0 74px 0 74px;
}
.why-content__subtitle {
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  color: #292929;
  margin-top: 20px;
}
.why-content__desc {
  width: 279px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #666666;
}

.icon-fit, .icon-strong, .icon-unique {
  width: 68px;
  height: 68px;
}

.section-title {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: currentColor;
}

.feedback {
  justify-content: center;
}

.feedback__container {
  display: flex;
  flex-direction: column;
}

.feedback__title {
  margin-top: 62px;
}

.feedback__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__main {
  width: 940px;
  height: 348px;
  background: #F8FAF9;
  margin: 32px 0 15px 0;
  display: flex;
}

.feedback__photo {
  width: 253px;
  height: 264px;
  margin: 42px 40px 42px 42px;
}

.feedback__desc-title {
  font-weight: bold;
  font-size: 27px;
  color: #292929;
  margin-top: 70px;
}

.feedback__desc-text {
  font-size: 18px;
  color: #666666;
  line-height: 22px;
  width: 463px;
}

.feedback__name {
  font-weight: 500;
  font-size: 18px;
  color: #292929;
}

.section-title {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: currentColor;
}

.form {
  background: url("../img/forms.png") no-repeat center;
  background-size: cover;
  max-width: 100%;
  padding-top: 62px;
  color: #FFFFFF;
  justify-content: center;
}
.form__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  justify-content: space-evenly;
}
.contact-form__left {
  width: 462px;
}
.contact-form__right {
  width: 450px;
}

.contact-form__row {
  display: flex;
  margin-top: 14px;
}

.form__label {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 20px;
  color: white;
  font-size: 18px;
}

.form__label:last-child {
  margin-right: 0;
}

.container {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.form__input {
  display: block;
  width: 100%;
  background: #FFFFFF;
  border-radius: 4px;
  height: 58px;
  border: none;
}

.form__phone {
  border: 3px solid #FEDB3F;
  border-radius: 4px;
}

.form__textarea {
  width: 450px;
  height: 152px;
  background: #FFFFFF;
  border-radius: 4px;
}

.form__reset {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
}

.row-btn {
  display: block;
}

.checkbox, .radio {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.checkbox__item, .radio__item {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__item:checked ~ .checkbox__pseudo {
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M9.44954 0.551587C8.80734 -0.184046 7.70642 -0.184046 7.06422 0.459633L3.66973 3.86193L2.93578 3.1263C2.29358 2.48262 1.19266 2.48262 0.550461 3.1263H0.458717C-0.183484 3.76998 -0.183484 4.87343 0.458717 5.5171L2.47707 7.54009C2.84404 7.90791 3.30275 7.99986 3.66973 7.99986C4.12844 7.99986 4.49542 7.81595 4.86239 7.54009L9.44954 2.94239C10.0917 2.29871 10.0917 1.19526 9.44954 0.551587Z' fill='%23FEDB3F'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='10' height='8' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFFFF;
}

.radio__item:checked ~ .radio__pseudo {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.52981 0.838379C10.1192 0.838379 13.0293 3.74768 13.0293 7.33768C13.0293 10.9294 10.1192 13.8384 6.52981 13.8384C2.94026 13.8384 0.0302734 10.9294 0.0302734 7.33768C0.0302734 3.74768 2.94026 0.838379 6.52981 0.838379Z' fill='%23FEDB3F'/%3E%3C/svg%3E%0A");
}

.radio__pseudo {
  border-radius: 100px;
  width: 25px;
  height: 25px;
  margin-right: 11px;
  cursor: pointer;
}

.checkbox__pseudo {
  border-radius: 4px;
  width: 24px;
  height: 24px;
  margin-right: 11px;
  cursor: pointer;
}

input[type=radio] {
  border-radius: 100px;
  width: 25px;
  height: 25px;
  margin-right: 11px;
  cursor: pointer;
}