html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Alegreya Sans";
  margin: 0 auto;
}

.header {
  background: url("img/main.png") no-repeat center;
  background-size: cover;
  height: 652px;
  max-width: 100%;
}

.menu {
  padding-top: 24px;
  display: flex;
  align-items: center;
  margin-left: 81px;
  margin-right: 78px;
  justify-content: space-around;
}
.menu__list {
  list-style-type: none;
  margin-right: 47px;
}
.menu__link {
  text-decoration: none;
  font-weight: bold;
  color: #ffff;
}

.contacts {
  display: flex;
  align-items: center;
}
.contacts__icon {
  width: 12.9px;
  height: 13.78px;
  margin-right: 5.53px;
}
.contacts__phone {
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.header-content__title {
  margin-top: 102px;
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.header-content__subtitle {
  font-size: 21px;
  color: #FFFFFF;
  margin-top: 17px;
  margin-bottom: 0px;
}

.dots {
  margin-right: 43px;
}

.dots__list-item {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
  list-style: none;
  margin-bottom: 13px;
}

.dots__list-item--active::before {
  border-radius: 50%;
  content: "";
  border: 1px solid white;
  width: 18px;
  height: 19px;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-order {
  background: #FEDB3F;
  width: 156px;
  height: 60px;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  border-radius: 100px;
  margin-top: 39px;
}

.advantages {
  display: flex;
  margin-top: 64px;
  color: white;
}
.advantages__item {
  color: white;
  display: flex;
  margin-right: 30px;
}
.advantages__icon {
  width: 41px;
  height: 41px;
  margin-right: 11px;
}
.advantages__desc {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.why {
  height: 652px;
  display: flex;
  flex-direction: column;
}

.why-name {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
}
.why-name__title {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}
.why-name__subtitle {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #666666;
}

.why-content {
  padding: 0 80px 0 82px;
  display: flex;
  justify-content: space-between;
}
.why-content__item {
  margin-top: 49px;
}
.why-content__icon {
  width: 128px;
  height: 128px;
  background: #F2F5F4;
  border-radius: 100px;
  padding: 30px;
  margin: 0 74px 0 74px;
}
.why-content__subtitle {
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  color: #292929;
  margin-top: 20px;
}
.why-content__desc {
  width: 279px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #666666;
}

.icon-fit, .icon-strong, .icon-unique {
  width: 68px;
  height: 68px;
}

.feedback {
  height: 652px;
  display: flex;
  flex-direction: column;
}
.feedback__title {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
  margin-top: 62px;
}

.feedback__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__main {
  width: 940px;
  height: 348px;
  background: #F8FAF9;
  margin: 32px 79px 15px 79px;
  display: flex;
}

.feedback__photo {
  width: 253px;
  height: 264px;
  margin: 42px 40px 42px 42px;
}

.feedback__desc-title {
  font-weight: bold;
  font-size: 27px;
  color: #292929;
  margin-top: 70px;
}

.feedback__desc-text {
  font-size: 18px;
  color: #666666;
  line-height: 22px;
  width: 463px;
}

.feedback__name {
  font-weight: 500;
  font-size: 18px;
  color: #292929;
}

.form {
  background: url("../img/forms.png") no-repeat center;
  background-size: cover;
  height: 650px;
  max-width: 100%;
}
.form__title {
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding-top: 62px;
}

.contact-form {
  display: flex;
  justify-content: space-evenly;
}
.contact-form__left {
  width: 462px;
}
.contact-form__right {
  width: 450px;
}

.contact-form__row {
  display: flex;
  margin-top: 14px;
}

.form__label {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 20px;
  color: white;
  font-size: 18px;
}

.form__label:last-child {
  margin-right: 0;
}

.container {
  max-width: 938px;
  margin-right: auto;
  margin-left: auto;
}

.form__input {
  display: block;
  width: 100%;
  background: #FFFFFF;
  border-radius: 4px;
  height: 58px;
}

.form__phone {
  border: 3px solid #FEDB3F;
  border-radius: 4px;
}

.form__textarea {
  width: 450px;
  height: 152px;
  background: #FFFFFF;
  border-radius: 4px;
}

.form__reset {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
}

.row-btn {
  display: block;
}

input[type=radio]:checked:before {
  content: "";
  display: block;
  position: relative;
  width: 5px;
  height: 5px;
  top: 3.5px;
  left: 3.5px;
  border-radius: 50%;
  background: #FEDB3F;
}