html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}


body {
    font-family: 'Alegreya Sans';
    margin: 0 auto;
}
.section {
    min-height: 37.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.section--type--overlay {
    position: relative;
}
.section--type--overlay::before {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba($color: #000000, $alpha: .3);
    top: 0;
    left: 0;
}

.section-title{
    color: #ffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.625rem;
    text-transform: uppercase;
}
@import 'base/variables';
@import 'base/mixins';
@import 'blocks/header';
@import 'blocks/why';
@import 'blocks/feedback';
@import 'blocks/form';
@import 'blocks/footer';
