.form {
    background: url('../img/forms.png') no-repeat center;
    background-size: cover;
    height: 650px;
    max-width: 100%;
    &__title {
        font-weight: bold;
        font-size: 48px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        padding-top: 62px;
    }
}
// .form::after {
//     content: "";
//     background: url('../img/forms.png');
//     opacity: 0.7;
//     position: absolute;
//     z-index: -1;
// }
.contact-form {
    display: flex;
    justify-content: space-evenly;
    &__left {
        width: 462px;
    }
    &__right {
        width: 450px;
    }
}

.contact-form__row {
    display: flex;
    margin-top: 14px;
}
.form__label {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 20px;
    color: white;
    font-size: 18px;
}
.form__label:last-child {
    margin-right: 0;
}
.container {
    max-width: 938px;
    margin-right: auto;
    margin-left: auto;
}
.form__input {
    display: block;
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    height: 58px;
}
.form__phone {
    border: 3px solid #FEDB3F;
    border-radius: 4px;
}
.form__textarea {
    width: 450px;
    height: 152px;
    background: #FFFFFF;
    border-radius: 4px;
}
.form__reset {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
}

.row-btn {
    display: block;
}

input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    width: 5px;
    height: 5px;
    top: 3.5px;
    left: 3.5px;
    border-radius: 50%;
    background: #FEDB3F;
}