
.hero{
    background: url('../img/main.png') no-repeat center;
    background-size: cover;
    align-items: center;
}
.header {
    padding-top: 1.5rem;
    width: 100%;
    z-index: 2;

    @include tablets{
        background-color: #1968B1;
    }
}

.container {
    width: 100%;
    position: relative;

}

.header__container {
    display: flex;
    align-items: center;
    @include tablets {
        position: static;
    }
        
    @include phones {
        max-width: 30rem;
        width: 20rem;
    }
}

.menu {
    display: flex;
    align-items: center;

    @include tablets {
        display: none;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }
   
    &__link {
        text-decoration: none;
        font-weight: bold;
        color: #ffff;

    }
}
.menu_active {
    display: block; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #313131;
    z-index: 10;
    & .menu__list {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        line-height: 4.5rem;
    }
    & .menu__list-item {
        margin-right: 0;
    }
}

.menu__list-item {
    margin-right: 0.938rem;
}
.menu__list-item:last-child {
    margin-right: 0;
}
.header__logo {
    margin-right: auto;
    width: 3.473rem;
    height: 2.454rem;
    @include tablets {
        position: relative;
        z-index: 20;
    }
}

.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
    
    @include tablets {
        display: none;
    }
    &__icon {
        width: 12.9px;
        height: 13.78px;
        margin-right: 5.53px;
    }
    &__phone {
        color: #ffff;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.375rem;
        
    }
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding-bottom: 8%;
    z-index: 1;
}
.header-content {
    display: flex;
    flex-direction: column;
    @include tablets {
        text-align: center;
        align-items: center;
        width: 100%;
    }
    &__title {
        margin-top: 6.375rem;
        margin-bottom: 0px;
        color: #ffff;
        text-decoration: none;
        font-weight: bold;
        font-size: 3rem;
        line-height: 3.625rem;
        text-transform: uppercase;
        @include phones {
        font-size: 2.5rem;
        }
    }
    &__subtitle{ 
        font-size: 1.313rem;
        color: #FFFFFF;
        margin-top: 1.063rem;
        margin-bottom: 0px;
        @include phones {
            font-size: 1.125rem;
        }
    }
}

.dots {
    margin-right: 2.688rem;
    position: fixed;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    @include tablets {
        display: none;
    }
}
.dots__list-item {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: white;
    list-style: none;
    margin-bottom: 13px;
}
.dots__list-item--active::before {
    border-radius: 50%;
    content: "";
    border: 1px solid white;
    width: 1.125rem;
    height: 1.188rem;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-order {
    background: #FEDB3F;
    width: 9.75rem;
    height: 3.75rem;
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 100px;
    margin-top: 2.438rem;
    border: none;
}
.advantages {
    display: flex;
    margin-top: 4rem;
    color: white;
    &__item {
        color: white;
        display: flex;
        margin-right: 1.875rem;
        align-items: center;
        @include tablets {
            display: none;
        }
    }
    &__icon {
        width: 2.563rem;
        height: 2.563rem;
        margin-right: 0.688rem;
    }
    &__desc {
        color: white;
        font-weight: bold;
        font-size: 1rem;
    }
}
.hamburger {
    display: none;
    
    @include tablets {
        display: block;
        position: relative;
        z-index: 20;
    }
}
.close {
    display: none;
    &__icon {
        width: 20px;
    }
    @include tablets {
        position: relative;
        display: block;
        top: 2.625rem;
        margin-right: 2.625rem;
        z-index: 20;
    }

}

